<h2>Course Enrollment System</h2>

<ul>
    <li><a asp-controller="Students" asp-action="Index">Students</a></li>
    <li><a asp-controller="Courses" asp-action="Index">Courses</a></li>
    <li><a asp-controller="Enrollments" asp-action="Index">Enrollments</a></li>
</ul>
