@model CourseEnrollmentSystem.Domain.Entities.Course

<div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
    <strong>@Model.Title</strong><br />
    Capacity: @Model.MaxCapacity<br />
    Description: @Model.Description
</div>
